@import url("https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap");
/*Global styles*/

@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Source Sans Pro", sans-serif;
  --secondary-font: "Herr Von Muellerhoff", cursive;
  --body-font: "Cabin", sans-serif;
  --para: "Satisfy", sans-serif;
  --main-font-color-dark: #252525;
  --secondary-font-color: #c59d5f;
  --body-font-color: #515151;
}
html {
  font-family: var(--main-font);
  font-size: 10px;
  color: var(--body-font-color);
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
section {
  padding: 30rem 0;
  overflow: hidden;
}
img {
  width: 100%;
  max-width: 100%;
}
a {
  text-decoration: none;
}
p {
  font-size: 1.6rem;
}
.container {
  width: 100%;
  max-width: 140.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
}
.nav {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-toggle {
  color: #fff;
  font-size: 2.2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.5rem;
  cursor: pointer;
  z-index: 1500;
}
.fa-times {
  display: none;
}
.nav-list {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  background-color: var(--main-font-color-dark) !important;
  padding: 4.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1250;
  transform: translateX(-100%);
  transition: transform 0.5s;
}
.open .fa-times {
  display: flex;
}
.open .fa-bars {
  display: none;
}
.open .nav-list {
  transform: translateX(0);
}
.open .nav::before {
  opacity: 1;
  transform: scale(1);
}
.nav-item {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.nav-link {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin-right: -2px;
  transition: color 0.5s;
}
.nav-link:hover {
  color: var(--secondary-font-color);
}
@media screen and (min-width: 900px) {
  section {
    padding: 7.9rem;
  }
  .menu-toggle {
    display: none;
  }
  .nav {
    justify-content: space-between;
  }
  .nav-list {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent !important;
    padding: 0;
    justify-content: initial;
    flex-direction: row;
    transform: initial;
    transition: initial;
  }
  .nav-item {
    margin: 0 10px;
    border: none;
  }
  .nav-item:last-child {
    margin-right: 0;
  }
  .nav-link {
    font-size: 1.3rem;
  }

  .active {
    position: relative;
  }
  .active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    bottom: -3px;
  }
  .sub-headline {
    font-size: 10rem;
  }
  .first-letter {
    font-size: 12.2rem;
  }
  .headline {
    font-size: 4.7rem;
    letter-spacing: 0.8rem;
  }
  .line {
    max-width: 11.4rem;
  }
  .restaurant-info {
    display: flex;
    align-items: center;
  }
  .restaurant-info > div {
    flex: 1;
  }
  .padding-right {
    padding-right: 7rem;
  }
  .footer-content {
    max-width: 77.5rem;
    margin: auto;
  }
  .footer-content-about {
    max-width: 51.3rem;
    margin: 0 auto 5.4rem;
  }
  .footer-content-divider {
    display: flex;
    justify-content: space-between;
  }
  .social-media,
  .newsletter-form {
    width: 100%;
    max-width: 27.3rem;
    margin: 0 1rem;
  }
  .social-icons i {
    opacity: 1;
  }
  .newsletter-btn {
    margin-left: 15.5rem;
  }

  .img-item:hover,
  .img-item:focus {
    transform: scale(1.1002);
  }
  .img-item {
    transition: transform 0.5s;
  }
  .newsletter-input {
    padding-right: 10px;
  }
}
header {
  position: fixed;
  background-color: rgba(59, 49, 49, 0.08);
  /* background-color: black; */
}

/* hero */
/* Hero */

.hero {
  width: 100%;
  height: 100vh;
  background: url("./images/hero.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.sub-headline {
  font-size: 8.5rem;
  font-family: var(--secondary-font);
  color: var(--secondary-font-color);
  font-weight: 100;
  line-height: 0.4;
  letter-spacing: 2px;
  opacity: 0;
  animation: fadeUp 0.5s forwards;
  animation-delay: 0.5s;
}
.first-letter {
  text-transform: uppercase;
  font-size: 15.3rem;
}
.headline {
  color: black;
  font-size: 3.7rem;
  font-family: var(--main-font);
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.5rem;
  margin-right: -0.5rem;
  animation: scale 0.5s forwards;
}
.separator {
  display: flex;
  align-items: center;
  justify-content: center;
}
.line {
  width: 100%;
  max-width: 8.4rem;
  height: 0.25rem;
  background-color: #fff;
  position: relative;
  opacity: 0;
  animation: grow 2s forwards;
  animation-delay: 0.9s;
}
.line-right::before,
.line-left::before {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  border: 0.6rem solid transparent;
  opacity: 0;
  animation: grow 0.5s forwards;
  animation-delay: 1.2s;
}
.line-right::before {
  border-right-color: #fff;
  right: 0;
}
.line-left::before {
  border-left-color: #fff;
  left: 0;
}
.asterisk {
  font-size: 1.2rem;
  color: var(--secondary-font-color);
  margin: 0 1.6rem;
  opacity: 0;
  animation: spin 0.5s forwards;
  animation-delay: 0.7s;
}
.single-animation {
  opacity: 0;
  animation: fadeDown 0.5s forwards;
  animation-delay: 1.5s;
}
.headline-description {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  letter-spacing: 3px;
  margin-right: -3px;
}
.btn {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: -2px;
}
.cta-btn {
  font-size: 1.1rem;
  background-color: #fff;
  padding: 0.9rem 1.8rem;
  color: var(--body-font-color);
  border-radius: 4px;
  transition: background-color 0.5s;
}
.cta-btn:hover,
.cta-btn:focus {
  cursor: pointer;
  color: #fff;
  background-color: var(--secondary-font-color);
}

.product-bar {
  display: flex;
  border-bottom: 1px solid;
  border-top: 1px solid;
  justify-content: center;
  padding: 30px;
}

/* footer */
footer {
  padding: 7.9rem 0;
  background-color: #121212;
  color: #fff;
  text-align: center;
  position: relative;
}
.back-to-top {
  width: 7rem;
  height: 7rem;
  background-color: #121212;
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}
.back-to-top i {
  display: block;
  font-size: 2rem;
  color: #fff;
  padding: 2rem;
  animation: up 2s infinite;
}
.footer-content {
  overflow: hidden;
}
.footer-content h4 {
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 3px;
  margin-bottom: 3rem;
}
.footer-content .asterisk {
  margin: 2.4rem 0;
}
.footer-content-about {
  margin-bottom: 5.4rem;
}
.footer-content-about p {
  line-height: 2;
}
.social-icons {
  list-style: none;
  margin-bottom: 5.4rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.social-icons i {
  font-size: 2rem;
  color: #fff;
  padding: 0.8rem 2rem;
  opacity: 0.5;
  transform: color 0.5s;
}
.social-icons i:hover,
.social-icons i::before {
  color: var(--secondary-font-color);
}
.newsletter-form {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.newsletter-input {
  width: 100%;
  max-width: 25rem;
  padding: 1rem 1.5rem;
  border-radius: 0.4rem;
}
.newsletter-btn {
  background-color: transparent;
  border: none;
  color: var(--main-font-color-dark);
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1px 0.6rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20.5rem;
}

/* pro
/* product copy */

.product {
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product .img_container {
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: center; */
}

.product .img_container .img {
  max-width: 100%;
  box-sizing: border-box;
  padding: 0px 50px 50px 0px;
}

.product .info_container {
  width: 30%;
  box-sizing: border-box;
  align-items: baseline;
}

.product .info_container .product_name {
  font-size: 60px;
  text-align: left;
  padding: 0px 0px 20px 0px;
}
.product .info_container .product_name {
  font-family: var(--secondary-font);
  color: #f3960b;
}
.color_list-p {
  font-family: Alata;
  font-size: 20px;
}

.product .info_container .product_price {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 23px;
  text-align: left;
  padding: 0px 0px 20px 0px;
}

.product .info_container .color {
  font-family: Alata;
  font-size: 25px;
  text-align: left;
  padding: 0px 0px 20px 0px;
}

.product .info_container .color_list {
  margin: 0px 0px 20px 0px;
}
.product .info_container .color_list .color_list-text {
  font-family: Alata;
  font-size: 25px;
}

.product .info_container .add_cart {
  border: 1px solid #000;

  font-family: Alata;
  font-size: 20;
  color: #000;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.05rem;
  cursor: pointer;
}
.add_cart_btn {
  font-size: 20px;
  padding: 20px 50px;
}
.product .info_container .add_cart:hover {
  background-color: black;
  color: #fff;
}
.product .info_container a {
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .product {
    box-sizing: border-box;
    padding: 50px;
    flex-direction: column;
  }

  .product .img_container {
    width: 100%;
  }

  .product .img_container .img {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 10px 10px 10px;
  }

  .product .info_container {
    width: 100%;
    padding: 30px 0px 0px 0px;
  }
  .product .info_container .product_name {
    font-size: 40px;
  }
  .product .info_container .product_price {
    font-size: 20px;
  }
  .product .info_container .color {
    font-size: 23px;
  }
  .product .info_container .size {
    font-size: 23px;
  }
}

@media screen and (max-width: 768px) {
  .product {
    box-sizing: border-box;
    padding: 30px 30px 50px 30px;
    flex-direction: column;
  }
}

@media screen and (max-width: 640px) {
  .product {
    box-sizing: border-box;
    padding: 30px 20px 50px 20px;
    flex-direction: column;
  }

  .product .img_container .img {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 10px 10px 10px;
  }
}
/* animate */
@keyframes fadeUp {
  0% {
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes scale {
  0% {
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes grow {
  0% {
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100px;
  }
}
@keyframes fadeDown {
  0% {
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    opacity: 1;
    transform: rotate(-360deg);
  }
}

@keyframes up {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-1rem);
  }
}

/* cart */

.small-container {
  max-width: 1000px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.cart-page {
  margin: 80px auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.cart-info {
  display: flex;
  flex-wrap: wrap;
}
th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #c59d5f;
  font-weight: normal;
}
td {
  padding: 10px 5px;
}
td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a {
  color: #c59d5f;
  font-size: 12px;
}
td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid #c59d5f;
  width: 100%;
  max-width: 345px;
}
td:last-child {
  text-align: right;
}
th:last-child {
  text-align: right;
}
.total-price table tr td {
  font-size: 20px;
}
.nav-table th {
  font-size: 18px;
}

.td-info a {
  font-size: 15px;
}
.td-info p {
  font-size: 20px;
}
.tb-ngu input:focus {
  outline: none;
}
.tb-ngu input {
  border-radius: 4px;
}
@media only screen and (max-width: 600px) {
  .cart-info p {
    display: none;
  }
}

/* modal */
/* Modal */
.box-item {
  display: flex;
  justify-content: space-around;
}
.box {
  flex: 1;
}
.text h5 {
  font-size: 2.2rem;
}
.box-item--left {
  margin-top: 20px;
}
.modal-title {
  margin-left: 16px;
  font-size: 25px;
}
.inputBox {
  display: flex;
  margin-bottom: 19px;
}
.inputBox-btn {
  justify-content: center;
}
.inputBox-input {
  border-radius: 5px;
  width: 100%;
}
input:focus,
textarea:focus {
  outline: none;
}

.inputBox-header {
  min-width: 130px;
  /* color: #ff0157; */
  font-size: 18px;
}
.inputBox-header h4 {
  margin-left: 16px;
  font-size: 20px;
}
.inputBox-btn {
  margin-top: 25px;
}
.contactForm .inputBox input[type="submit"] {
  background-color: transparent;
  /* border: none; */
  /* background: #ff0157; */
  padding: 5px 18px;
  border-radius: 19px;
  color: black;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: 0.5s;
}
.contactForm .inputBox input[type="submit"]:hover {
  letter-spacing: 6px;
  /* background-color: black; */
}
.magintops {
  margin-top: 50px;
  animation: fadeIn linear 0.3s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes growth {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}
.modal-dialog-containner {
  animation: growth linear 0.3s;
}
/* .btn-color {
  background: #ff0157;
} */
.modal-body {
  padding: 25px;
}
form {
  margin-top: 25px;
}
.icon {
  max-width: 25px;
  height: 25px;
  /* background: #ff0157; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* color: #fff; */
}
.icon i {
  font-size: 20px;
}
.modal-footer button {
  margin-right: 18px;
  padding: 5px 16px;
  font-size: 15px;
}

/* MOdal sign-up */
#myModal-sign-up .modal-content {
  margin-top: 55px;
  border-radius: 10px;
}
#myModal-sign-up .modal-header {
  border: none;
  height: 0px;
}
#myModal-sign-up .modal-header button {
  margin-right: -25px;
  font-size: 37px;
}
#myModal-sign-up .modal-body {
  padding: 8px 28px;
}
#myModal-sign-up .ath-form-body {
  margin-top: 20px;
}
#myModal-sign-up .auth-form__header {
  text-align: center;
}
#myModal-sign-up .auth-form__header h3 {
  font-family: var(--main-font);
  font-size: 4rem;
  font-weight: 900;
}
#myModal-sign-up .auth-form__header h4 {
  font-size: 2.2rem;
  margin-top: -10px;
}
#myModal-sign-up .auth-form-group {
  display: flex;
  margin-bottom: 20px;
}
#myModal-sign-up .auth-form-group i {
  font-size: 15px;
  width: 30px;
  margin: auto;
}
#myModal-sign-up .auth-form-group input {
  font-size: 14px;
  border: none;
  flex: 1;
}
#myModal-sign-up .auth-form-group input:focus {
  outline: none;
}
#myModal-sign-up .auth-form-group {
  padding: 10px 10px;
  border: solid 1px #111;
  border-radius: 10px;
}
#myModal-sign-up .auth-form__control {
  display: flex;
  justify-content: center;
  align-items: center;
}
#myModal-sign-up .auth-form__control a {
  text-decoration: none;
  color: #111;
}
#myModal-sign-up .auth-btn {
  padding: 5px 15px;
  border: solid 1px #515151;
  border-radius: 5px;
  text-decoration: none;
}
#myModal-sign-up .auth-btn:hover {
  background: rgb(15, 15, 15);
  color: #fff;
}
#myModal-sign-up .auth-btn {
  padding: 7px 16px;
  font-size: 16px;
}
#myModal-sign-up .auth_link {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 16px;
  margin-bottom: 16px;
}
#myModal-sign-up .auth_link a {
  cursor: pointer;
  text-decoration: none;
  color: blue;
}
#myModal-sign-up .auth_link a:hover {
  color: red;
}

/* modal log-in */

#myModal-log-in .modal-content {
  margin-top: 55px;
  border-radius: 10px;
}
#myModal-log-in .modal-header {
  border: none;
  height: 0px;
}
#myModal-log-in .modal-header button {
  margin-right: -25px;
  font-size: 37px;
}
#myModal-log-in .modal-body {
  padding: 8px 28px;
}
#myModal-log-in .ath-form-body {
  margin-top: 20px;
}
#myModal-log-in .auth-form__header {
  text-align: center;
}
#myModal-log-in .auth-form__header h3 {
  font-family: var(--main-font);
  font-size: 4rem;
  font-weight: 900;
}
#myModal-log-in .auth-form__header h4 {
  font-size: 2.2rem;
  margin-top: -10px;
}
#myModal-log-in .auth-form-group {
  display: flex;
  margin-bottom: 20px;
}
#myModal-log-in .auth-form-group i {
  font-size: 15px;
  width: 30px;
  margin: auto;
}
#myModal-log-in .auth-form-group input {
  font-size: 14px;
  border: none;
  flex: 1;
}
#myModal-log-in .auth-form-group input:focus {
  outline: none;
}
#myModal-log-in .auth-form-group {
  padding: 10px 10px;
  border: solid 1px #111;
  border-radius: 10px;
}
#myModal-log-in .auth-form__control {
  display: flex;
  justify-content: center;
  align-items: center;
}
#myModal-log-in .auth-form__control a {
  text-decoration: none;
  color: #111;
}
#myModal-log-in .auth-btn {
  padding: 5px 15px;
  border: solid 1px #515151;
  border-radius: 5px;
  text-decoration: none;
}
#myModal-log-in .auth-btn:hover {
  background: rgb(15, 15, 15);
  color: #fff;
}
#myModal-log-in .auth-btn {
  padding: 7px 16px;
  font-size: 16px;
}
#myModal-log-in .auth_link {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 16px;
  margin-bottom: 16px;
}
#myModal-log-in .auth_link a {
  cursor: pointer;
  text-decoration: none;
  color: blue;
}
#myModal-log-in .auth_link a:hover {
  color: red;
}
#myModal-log-in .auth-form__aside--img img {
  height: 47px;
  width: 47px;
  max-width: 100%;
  object-fit: cover;
}
#myModal-log-in .auth-form__aside--img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-form__aside--text {
  text-align: center;
  font-size: 16px;
  margin: 14px 0px;
}
.img_aside_f {
  margin-right: 20px;
}
header {
  position: fixed;
  background-color: rgba(59, 49, 49, 0.08);
}
