@import url("https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap");
/*Global styles*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Source Sans Pro", sans-serif;
  --secondary-font: "Herr Von Muellerhoff", cursive;
  --body-font: "Cabin", sans-serif;
  --main-font-color-dark: #252525;
  --secondary-font-color: #c59d5f;
  --body-font-color: #515151;
}

.box-item {
  display: flex;
  justify-content: space-around;
}
.box {
  flex: 1;
}
.inputBox {
  display: flex;
  margin-bottom: 15px;
}
.inputBox-btn {
  justify-content: center;
}
.inputBox-input {
  width: 100%;
}
.inputBox-header {
  min-width: 130px;
  color: #ff0157;
}
.inputBox-btn {
  margin-top: 25px;
}
.contactForm .inputBox input[type="submit"] {
  border: none;
  background: #ff0157;
  padding: 5px 18px;
  border-radius: 19px;
  color: #fff;
  font-size: 0.8rem;
  text-transform: uppercase;
  transition: 0.5s;
}
.contactForm .inputBox input[type="submit"]:hover {
  letter-spacing: 6px;
}
.icon {
  max-width: 23px;
  height: 23px;
  background: #ff0157;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
}

/* .contact-container {
  border-radius: 7px;
  position: relative;
  height: 600px;
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 1;
  animation: growth linear 0.2s;
} */
/*
.contact-container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contact-container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contact-container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #ff0157;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  color: #fff;
}
.contact-container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #111;
  flex-direction: column;
  font-weight: 300;
}
.contact-container .contactInfo .box .text h3 {
  font-weight: 500;
  color: #ff0157;
}
.contactForm {
  width: 40%;
  padding: 40px;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
  border: none;
    background: #ff0157;
    padding: 5px 18px;
    border-radius: 19px;
    color: #fff;
    font-size: 0.8rem;
    text-transform: uppercase;
}
.contactForm .inputBox input[type="submit"]:hover {
  letter-spacing: 6px;
} */
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.titleText {
  font-family: var(--secondary-font);
  font-size: 80px;
  text-decoration: underline 2px;
  color: black;
}

.menu .menu-content1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.menu .menu-content1 .menu-content__box-item {
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}
.menu .menu-content1 .menu-content__box-item .imgBox {
  position: relative;
  height: 100%;
  height: 300px;
}

.textBox span {
  font-size: 1.75rem;
}

.menu .menu-content1 .menu-content__box-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s;
}
.menu .menu-content1 .menu-content__box-item img:hover {
  transform: scale(1.1002);
}
.menu .menu-content1 .menu-content__box-item .textBox {
  padding: 15px 0 5px;
}
.menu .menu-content1 .menu-content__box-item .textBox h3 {
  font-weight: 400;
  color: #111;
}

/* sign */

/* .auth-form {
  border: solid 1px black;
} */
.modal-content {
  margin-left: 50px;
  width: 400px;
}
.modal-header {
  border: none;
  height: 0px;
}
.modal-header button {
  margin-right: -30px;
  font-size: 37px;
}
.modal-body {
  padding: 8px 28px;
}
.ath-form-body {
  margin-top: 20px;
}
.auth-form__header {
  text-align: center;
}
.auth-form__header h3 {
  font-family: var(--main-font);
  font-size: 2.7rem;
  font-weight: 900;
}
.auth-form__header h4 {
  font-size: 1.5rem;
  margin-top: -10px;
}
.auth-form-group {
  display: flex;
  margin-bottom: 20px;
}
.auth-form-group i {
  width: 30px;
  margin: auto;
}
.auth-form-group input {
  border: none;
  flex: 1;
}
.auth-form-group input:focus {
  outline: none;
}
.auth-form-group {
  padding: 10px 10px;
  border: solid 1px #111;
  border-radius: 10px;
}
.auth-form__control {
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-form__control a {
  text-decoration: none;
  color: #111;
}
.auth-btn {
  padding: 5px 15px;
  border: solid 1px #515151;
  border-radius: 5px;
  text-decoration: none;
}
.auth-btn:hover {
  background: rgb(15, 15, 15);
  color: #fff;
}
.auth-btn {
  margin: 0 20px;
}
.auth_link {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  margin-top: 10px;
}
.auth_link a {
  cursor: pointer;
  text-decoration: none;
  color: blue;
}
.auth_link a:hover {
  color: red;
}

#myModal-sign-up .modal-content {
  margin-left: 50px;
  width: 400px;
}
#myModal-sign-up .modal-header {
  border: none;
  height: 0px;
}
#myModal-sign-up .modal-header button {
  margin-right: -30px;
  font-size: 37px;
}
#myModal-sign-up .modal-body {
  padding: 8px 28px;
}
#myModal-sign-up .ath-form-body {
  margin-top: 20px;
}
#myModal-sign-up .auth-form__header {
  text-align: center;
}
#myModal-sign-up .auth-form__header h3 {
  font-family: var(--main-font);
  font-size: 2.7rem;
  font-weight: 900;
}
#myModal-sign-up .auth-form__header h4 {
  font-size: 1.5rem;
  margin-top: -10px;
}
#myModal-sign-up .auth-form-group {
  display: flex;
  margin-bottom: 20px;
}
#myModal-sign-up .auth-form-group i {
  width: 30px;
  margin: auto;
}
#myModal-sign-up .auth-form-group input {
  border: none;
  flex: 1;
}
#myModal-sign-up .auth-form-group input:focus {
  outline: none;
}
#myModal-sign-up .auth-form-group {
  padding: 10px 10px;
  border: solid 1px #111;
  border-radius: 10px;
}
#myModal-sign-up .auth-form__control {
  display: flex;
  justify-content: center;
  align-items: center;
}
#myModal-sign-up .auth-form__control a {
  text-decoration: none;
  color: #111;
}
#myModal-sign-up .auth-btn {
  padding: 5px 15px;
  border: solid 1px #515151;
  border-radius: 5px;
  text-decoration: none;
}
#myModal-sign-up .auth-btn:hover {
  background: rgb(15, 15, 15);
  color: #fff;
}
#myModal-sign-up .auth-btn {
  margin: 0 20px;
}
#myModal-sign-up .auth_link {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  margin-top: 10px;
}
#myModal-sign-up .auth_link a {
  cursor: pointer;
  text-decoration: none;
  color: blue;
}
#myModal-sign-up .auth_link a:hover {
  color: red;
}
